.dark-mode {
    background-color: #242526;
    /* Màu nền tối */
    color: #ffffff;
    /* Màu chữ tối */
}

.light-mode {
    background-color: #242526;
    /* Màu nền tối */
    color: #ffffff;
    /* Màu chữ tối */
}